body {
    /* font-family: sans-serif; */
    font-family: "Gill Sans", sans-serif;
    /* background-color: #eeeeee; */
    padding-bottom: 20px;
  }
  h2{font-size: 2.5rem;}
  .navbar {
    margin-bottom: 20px;
  }
  .section {
    margin-top: 20px;
  }
  .title {
    line-height: 1.67;
    text-align: center;
    color: #353c46;
  }
  .subtitle {
    line-height: 1.53;
    text-align: center;
    color: #35465d;
  }

  .file-upload {
    padding: 15% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
    margin-bottom: 50px
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #353c46;
    background-color: #ffffff;
  }
/*   
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
  } */
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #353c46;
  }
  /* .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
} */
.try-again-btn {
  border-radius: 40px;
  border: solid 1.5px #35465d;
  background-color: #35465d;
}
.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #353c46;
    padding: 60px 0;
  }
  .upload {
    width: 100px;
  }
  .file-upload-image {
    max-height: 60%;
    max-width: 60%;
    margin: auto;
    padding: 10px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .chart-wrapper {
    margin: auto;
    padding: 30px;
  }
  .chart-container {
    padding: 0 20px;
  }

  .result-message {
    color: #353c46;
    font-weight: 600;
    /* text-shadow: -1px 0 #cd4535, 0 1px  #cd4535, 1px 0  #cd4535, 0 -1px  #cd4535; */
        /* fontcolor: #cd4535; */
    font-size: 3rem;
  }


  /* spinner */
  @font-face {
    font-family: 'icomoon';
    src:url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?-9haulc');
    src:url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?#iefix-9haulc') format('embedded-opentype'),
      url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.woff?-9haulc') format('woff'),
      url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.ttf?-9haulc') format('truetype'),
      url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.svg?-9haulc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-spinner:before {
    content: "\e000";
  }
  .icon-spinner-2:before {
    content: "\e001";
  }
  .icon-spinner-3:before {
    content: "\e002";
  }
  .icon-spinner-4:before {
    content: "\e003";
  }
  .icon-spinner-5:before {
    content: "\e004";
  }
  .icon-spinner-6:before {
    content: "\e005";
  }
  .icon-spinner-7:before {
    content: "\e006";
  }
  
  @keyframes anim-rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .load-wrapp {
    display: none;
    position:fixed; 
    z-index:999; 
    top: calc( 50% - (100px / 2) ); 
    left: calc( 50% - (100px / 2) );
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
  }
  .spinner {
    display: none;
    font-size: 4em;
    animation: anim-rotate 2s infinite linear;
    color:#4b9cdb;
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.9); */
    position:fixed; 
    z-index:999; 
    top: calc( 50% - (1em / 2) ); 
    left: calc( 50% - (1em / 2) );
    /* background-color: #353c46; */
  }
  .spinner--steps {
    animation: anim-rotate 1s infinite steps(8);
  }
  .spinner--steps2 {
    animation: anim-rotate 1s infinite steps(12);
  }
  /* end spnner */